/* Add a black background color to the top navigation */
.topnav {
    width 100%;
    background-color: #f0f8ff;
    overflow: hidden;
    border: 0.7px solid #eee;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffcc33;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffcc33;
    color: white;
}

