

/*  D E F A U L T S  */


select {
	width: 300px;
	font-size: 18px;
}

.selector {
	margin: 10px 0px;
}

input[type=submit] {
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    background-color: #222;
    border-radius: 10px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
/*     font-weight: 700; */
    cursor: pointer;
/*     text-transform: uppercase; */
    z-index: 101;
    display: block;
    float: right;
   
}

input[type=submit]:hover {
    background-color:#ffcc33;
    color: #222;
}


.subnmitButton {
    margin: 4px 2px;
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    background-color: #222;
    border-radius: 10px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    /*     font-weight: 700; */
    cursor: pointer;
    /*     text-transform: uppercase; */
    z-index: 101;
}

.subnmitButton:hover {
    background-color:#ffcc33;
    color: #222;
}



input[type=text] {
    width: 300px;
    height: 36px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    border: 1px solid black;
    color: #222;
    letter-spacing: 1px;
    text-align: center;
    /*     font-weight: 700; */
    cursor: auto;
    /*     text-transform: uppercase; */
    z-index: 101;
}


input[type=number] {
    width: 300px;
    height: 36px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    border: 1px solid black;
    color: #222;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 101;
    text-align: center;
}

input[type=file] {
    width: 300px;
    height: 36px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    border: 1px solid black;
    color: #222;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 101;
    text-align: center;
}

input[type=password] {
    width: 300px;
    height: 36px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
    border: 1px solid black;
    color: #222;
    letter-spacing: 1px;
    cursor: auto;
    z-index: 101;
    text-align: center;
}

/*  C L A S S E S  */
