

/*  D E F A U L T S  */


select {
	width: 300px;
	font-size: 18px;
}

.selector {
	margin: 10px 0px;
}

input[type=submit] {
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    background-color: #222;
    border-radius: 10px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
/*     font-weight: 700; */
    cursor: pointer;
/*     text-transform: uppercase; */
    z-index: 101;
    display: block;
    float: right;
}
input[type=submit]:hover {
    background-color:#ffcc33;
    color: #222;
}



/*  C L A S S E S  */